.feed,
.explore1,
.save,
.direct,
.ig-tv,
.stats,
.setting,
.log-out1 {
  visibility: hidden;
  transform: translate(0px, -20px);
  position: absolute;
}

/* Responsive Left-Menu */
@media (max-width:900px) {

  .left-menu {
    width: 100px;
    box-shadow: 0px 0px 2px;
    height: 1200px;
  }

  /* Logo */
  .logo-text {
    visibility: hidden;
  }

  .icon-in:hover+.logo-text1 {
    font-size: 9px;
    background-color: cornsilk;
    padding: 5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: translate(3px, 3px);
    visibility: visible;
    position: absolute;;
    
  }

  /* Profile */
  .profile {
    /* height: auto; */
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -30px;
  }

  .main-pro {
    margin-top: 40px;
  }

  .pro-image {

    background: linear-gradient(to top, rgb(233, 166, 9), rgb(221, 102, 184), rgb(105, 115, 234));
    ;
    border-radius: 50%;
    padding: 3px;
    width: 50px;
    /* display: flex;
      align-items: center;
      justify-content: center; */
  }

  .circle-image {
    width: 50px;
    border-radius: 50%;
  }

  /* Name */

  .title h4 {
    line-height: 0.1;
    text-align: center;
    font-size: 10px;

  }

  .title p {
    line-height: 0.1;
    text-align: center;
    font-size: 9px;

  }

  .post p {
    line-height: 0.6;
    font-size: 10px;
  }

  /* Amount */
  .amount {
    display: inline;
  }

  .post p {
    font-size: 15px;
  }

  .follower p {
    font-size: 15px;
  }

  .following p {
    font-size: 15px;
  }

  /* NavBarLEft */
  .navbar {
    display: inline;
  }

  .icon-name {
    color: rgb(84, 83, 83);
    transition: all 0.2s;
    margin-left: -10px;
  }

  .icon-name div {}

  /* Name-Icon */
  .name-icon {
    display: none;
  }

  .log-out {
    border-top: 1px solid rgb(112, 102, 102);
    padding-top: 20px;
  }

  .icon:hover+.feed {
    font-size: 12px;
    padding: 5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: translate(7px, 3px);
    visibility: visible;
    position: absolute;
    color: black;
    background-color: rgb(255, 211, 211);
  }

  .icon:hover+.explore1 {
    font-size: 10px;
    color: black;
    background-color: rgb(255, 211, 211);
    padding: 5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: translate(7px, 3px);
    visibility: visible;
    position: absolute;
  }

  .icon:hover+.save {
    font-size: 10px;
    width: 60%;
    color: black;
    background-color: rgb(255, 211, 211);
    padding: 5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: translate(7px, 3px);
    visibility: visible;
    position: absolute;
  }

  .icon:hover+.direct {
    font-size: 10px;
    color: black;
    background-color: rgb(255, 211, 211);
    padding: 5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: translate(7px, 3px);
    visibility: visible;
    position: absolute;
  }

  .icon:hover+.ig-tv {
    font-size: 10px;
    color: black;
    background-color: rgb(255, 211, 211);
    padding: 5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: translate(7px, 3px);
    visibility: visible;
    position: absolute;
  }

  .icon:hover+.stats {
    font-size: 10px;
    color: black;
    background-color: rgb(255, 211, 211);
    padding: 5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: translate(7px, 3px);
    visibility: visible;
    position: absolute;
  }

  .icon:hover+.setting {
    font-size: 10px;
    color: black;
    background-color: rgb(255, 211, 211);
    padding: 5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: translate(7px, 3px);
    visibility: visible;
    position: absolute;
  }

  .icon:hover+.log-out1 {
    font-size: 10px;
    width: 35%;
    color: black;
    background-color: rgb(255, 211, 211);
    padding: 5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: translate(7px, 3px);
    visibility: visible;
    position: absolute;
  }

  .log-out {
    border-top: 0px solid rgb(112, 102, 102);
    padding-top: 20px;

  }

  .icon-name:hover {
    background-color: ghostwhite;
    color: #df0d53;
    text-align: center;
    cursor: pointer;
    z-index: -1;

  }

  .icon:hover {
    color: rgb(223, 13, 83);
    cursor: pointer;
  }
  .comment .input-comment input {
    font-size: 7px;
    padding: 10px 0px;
    border-radius: 30px;
    border: none;
    width: 100px;
    outline: none;
    padding-left: 20px;
    background-color: rgb(203, 203, 203);
    transform: translate(0px, 0px);
    position: absolute;
    background-color: red;
  }
}


/* Responsive Body */


@media (max-width:1500px) {

  .left-menu {
    transform: translate(3px, 0px);
  }

  .right-menu {
    transform: translate(-3px, 0px);
  }
  .input-comment input{
    margin-left: -10px;
  }
  .icon-search{
    font-size: 25px;
    transform: translate(200px,0px);
  }
 
  .search1 .icon-search{
    font-size: 25px;
    transform: translate(0px,0px);
  }
}

@media (max-width:1300px) {
  .new-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(245, 27, 176);
  border-radius: 25px;
  padding: 2px;
  width: 150px;
  
}

.icon-plus {
  color: white;
  font-size: 20px;
  padding-right: 10px;
  font-weight: 600;
  padding-left: 10px;
}

.new-post p {
  color: white;
  font-weight: 600;
  margin-right: 5px;
  font-size: 10px;
}
.search1 input{
  width: 400px;
  padding: 10px;
  border-radius: 35px;
  border:none;
  outline: none;
  background-color: #e0e0e0;
  padding-left: 20px;
}


  .left-menu {
    transform: translate(2px, 0px);
  }

  .right-menu {
    transform: translate(-2px, 0px);
    padding-left: 10px;
    padding-right: 10px;
  }

  .icon-search {
    font-size: 30px;
    transform: translate(-390px, 10px);
    color: rgb(142, 142, 142);
    cursor: pointer;
  }


  .comment .input-comment input {
    font-size: 15px;
    padding: 15px 0px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding-right: 10px;
    padding-left: 10px;
    width: 500px;
    padding-left: 20px;
    transform: translate(20px, 0px);
  }
  .comment .c-comment{
   transform: translate(-120px,0px);
  }

  .input-comment {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .c-comment {
    display: flex;
    transform: translate(-150px, 0px);
  }

  .icon-comment {
    padding: 10px;
    font-size: 20px;
  }

  p {
    line-height: 0.7;
  }
  .name-icon{
    font-size: 17px;
  }

}

@media (max-width:1200px) {

   .new-post {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(245, 27, 176);
    border-radius: 25px;
    padding: 2px;
    width: 150px;
    
  }
  
  .icon-plus {
    color: white;
    font-size: 20px;
    padding-right: 10px;
    font-weight: 600;
    padding-left: 20px;
  }
  
  .new-post p {
    color: white;
    font-weight: 600;
    margin-right: 20px;
    font-size: 10px;
  }
  .left-menu {
    transform: translate(5px, 0px);
  }

  .right-menu {
    transform: translate(-5px, 0px);
  }
  .search1 input{
    width: 300px;
  }
  .icon-search{
    font-size: 25px;
    transform: translate(200px,0px);
  }


   .comment .input-comment input {
    font-size: 15px;
    padding: 15px 0px;
    border-radius: 30px;
    border: none;
    width: 340px;
    outline: none;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(203, 203, 203);
    transform: translate(20px, 0px);
  }
  .add-story1 {
    border-radius: 50%;
    background: linear-gradient(to top, rgb(233, 166, 9), rgb(221, 102, 184), rgb(105, 115, 234));
    ;
    width:  60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
  }

  .add-story-first {
    background-color: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pic-story {
    border-radius: 50%;
    padding: 4px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgb(233, 166, 9), rgb(234, 105, 193));
    ;
  }

  .pic-story img {
    border-radius: 50%;
    border: 2px solid white;
  }

  .pic-story img {
    width: 60px;
  }

  .profile-story {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .story-name {
    font-size: 10px;
  }
}

@media (max-width:1000px) {

  .body-container {
    width: 90%;
  }

  .right-menu {
    display: none;
  }

  .left-menu {
    transform: translate(10px, 0px);
  }
  .search1 input{
    width: 430px;
  }
  .icon-search{
    font-size: 25px;
    transform: translate(200px,0px);
  }


}

@media (max-width:900px) {
  .left-menu {
    transform: translate(15px, 0px);
  }
  .search1 input{
    width: 530px;
  }
   .search1 .icon-search{
    font-size: 25px;
    margin-left: -40px;
  }
  .input-comment1 input{
    width: 400px;
    font-size: 10px;
    border-radius: 20px;
    padding: 9px;
    margin-left: 20px;
    padding-left: 13px;
    padding-right: 50px;
    border: 0px solid black;
    outline: none;

  }
  .input-comment1 .icon-comment {
    font-size: 20px;
    transform: translate(-100px,0px);
    padding: 5px;
  }
  
}

@media (max-width:780px) {
  .input-comment1 .icon-comment {
    font-size: 20px;
    transform: translate(-100px,0px);
    padding: 5px;
  }
 
  .left-menu {
    transform: translate(10px, 0px);
  }

  .body-container {
    margin-left: 25px;
  }
  .icon-in{
    font-size: 30px;
    margin-left: -5px;
  }
  .profile{
    margin-top: -30px;
  }
  .amount {
    display: none;
  }

  .new-post {
    display: none;
  }

.search2{
  margin: auto;
  display: flex;
  justify-content: center;
}

  .add-story1 {
    border-radius: 50%;
    background: linear-gradient(to top, rgb(233, 166, 9), rgb(221, 102, 184), rgb(105, 115, 234));
    ;
    width:  60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
  }

  .add-story-first {
    background-color: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pic-story {
    border-radius: 50%;
    padding: 4px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgb(233, 166, 9), rgb(234, 105, 193));
    ;
  }

  .pic-story img {
    border-radius: 50%;
    border: 2px solid white;
  }

  .pic-story img {
    width: 60px;
  }

  .profile-story {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .story-name {
    font-size: 10px;
  }

   .comment .input-comment input {
    font-size: 10px;
    padding: 10px 0px;
    border-radius: 30px;
    border: none;
    width: 370px;
    outline: none;
    padding-left: 20px;
    background-color: rgb(203, 203, 203);
    transform: translate(-150px, 0px);
  }

  .c-comment {
    transform: translate(-110px, 0px);
  }
}

@media (max-width:600px) {

  .search1 input{
    width: 350px;
  }
   .search1 .icon-search{
    font-size: 25px;
    margin-left: -40px;
  }
  .comment .input-comment input{
    width: 300px;
    margin-left: 85px;
  }
  .add-story1 {
    border-radius: 50%;
    background: linear-gradient(to top, rgb(233, 166, 9), rgb(221, 102, 184), rgb(105, 115, 234));
    ;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
  }

  .add-story-first {
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pic-story {
    border-radius: 50%;
    padding: 4px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgb(233, 166, 9), rgb(234, 105, 193));
    ;
  }

  .pic-story img {
    border-radius: 50%;
    border: 2px solid white;
  }

  .pic-story img {
    width: 50px;
  }
  .profile-story{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width:500px) {
  .search1 input{
    width: 300px;
  }
   .search1 .icon-search{
    font-size: 25px;
    margin-left: -40px;
  }
  .left-menu {
    width: 50px;
  }

  .logo {
    margin-left: -18px;
  }

  .profile {
    margin-top: -49px;
  }
  .pro-image{
    width: 30px;
    margin-left: 2px;
  }
  .pro-image img{
    width: 30px;
  }
  .title{
    display: none;
  }
  .amount{
  display: none;
  }
  .navbar .icon-name{
    transform: translate(-27px,-25px);
  }
  .icon-name:hover {
  color: rgb(223, 13, 83);
  transform: translate(-27px, -25px);
  cursor: pointer;
  background-color: aliceblue;
  width: 67px;
  border-radius: 10px;

}

.icon:hover {
  color: rgb(223, 13, 83);
  cursor: pointer;
}

  

  .left-menu {
    transform: translate(8px, 0px);
  }

  .body-container {
    margin-left: 20px;
    width: 90%;
  }
  .search{
    transform: translate(0px,0px);
  }
  

  .add-story1 {
    border-radius: 50%;
    background: linear-gradient(to top, rgb(233, 166, 9), rgb(221, 102, 184), rgb(105, 115, 234));
    ;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
  }

  .add-story-first {
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pic-story {
    border-radius: 50%;
    padding: 4px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgb(233, 166, 9), rgb(234, 105, 193));
    ;
  }

  .pic-story img {
    border-radius: 50%;
    border: 2px solid white;
  }

  .pic-story img {
    width: 50px;
  }

  .profile-story {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .story-name {
    font-size: 9px;
  }

   .comment .input-comment input {
    font-size: 7px;
    padding: 10px 0px;
    border-radius: 30px;
    border: none;
    width: 250px;
    outline: none;
    padding-left: 20px;
    background-color: rgb(203, 203, 203);
    transform: translate(-100px, 0px);
    position: absolute;
  }

  .c-comment {
    transform: translate(-30px, 0px);
  
  }
  .icon-comment{
    font-size: 15px;
  }
  .icon-comment .icon1{
    font-size: 40px;
  }
  .love p{
    line-height: 1.6;
    font-size: 12px;
    padding-left: 1px;
  }
  .icon-in:hover+.logo-text1 {
    font-size: 9px;
    background-color: rgb(234, 188, 1);
    padding: 2px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: translate(-37px, 28px);
    visibility: visible;
    position: fixed;
    
  }
  .icon-in{
    font-size: 25px;
    margin-left: 2px;
  }
}


@media (max-width:400px) {
  .left-menu {
    width: 50px;
  }
  .pro-pic {
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
  
  .pro-pic img {
    border-radius: 50%;
    width: 40px;
  }
  .logo {
    margin-left: -18px;
    z-index: 2;
  }

  .profile {
    margin-top: -49px;
  }
  .pro-image{
    width: 30px;
    margin-left: 2px;
  }
  .pro-image img{
    width: 30px;
  }
  .title{
    display: none;
  }
  .amount{
  display: none;
  }
  .navbar .icon-name{
    transform: translate(-27px,-25px);
  }
  .icon-name:hover {
  color: rgb(223, 13, 83);
  transform: translate(-27px, -25px);
  cursor: pointer;
  background-color: aliceblue;
  width: 67px;
  border-radius: 10px;

}

.icon:hover {
  color: rgb(223, 13, 83);
  cursor: pointer;
}

  .left-menu {
    transform: translate(8px, 0px);
  }

  .body-container {
    margin-left: 10px;
    width: 95%;
  }


  .add-story1 {
    border-radius: 50%;
    background: linear-gradient(to top, rgb(233, 166, 9), rgb(221, 102, 184), rgb(105, 115, 234));
    ;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
  }

  .add-story-first {
    background-color: rgb(255, 255, 255);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pic-story {
    border-radius: 50%;
    padding: 4px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgb(233, 166, 9), rgb(234, 105, 193));
    ;
  }

  .pic-story img {
    border-radius: 50%;
    border: 2px solid white;
  }

  .pic-story img {
    width: 35px;
  }

  .profile-story {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .story-name {
    font-size: 6px;
  }

   .comment .input-comment input {
    font-size: 7px;
    padding: 10px 0px;
    border-radius: 30px;
    border: none;
    width: 200px;
    outline: none;
    padding-left: 20px;
    background-color: rgb(203, 203, 203);
    transform: translate(-130px, 0px);
    position: absolute;
  }

  .c-comment {
    transform: translate(-20px, 0px);
  
  }
  .icon-comment{
    font-size: 10px;
  }
  .icon-comment .icon1{
    font-size: 40px;
  }
  .love p{
    line-height: 1.6;
    font-size: 10px;
    padding-left: 2px;
  }
  .logo-text1{
    z-index: 2;
  }
  .icon-in:hover+.logo-text1 {
    font-size: 9px;
    background-color: rgb(234, 188, 1);
    padding: 2px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: translate(-37px, 28px);
    visibility: visible;
    position: fixed;
    
  }
  .search1 input{
    width: 250px;
  }
   .search1 .icon-search{
    font-size: 25px;
    margin-left: -40px;
  }
  .input-comment1 .icon-comment {
    font-size: 30px;
    transform: translate(-80px,0px);
    padding: 5px;
  }
}