body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaeaea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .container {
background-color: red;
} */

.center {
margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-menu {
  width: 250px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 2px;
  height: 1200px;
}

.body {
  height: 1200px;
  overflow: hidden;
}

.right-menu {
  width: 250px;
  background-color: #f2f2f2;
  height: 1200px;
  box-shadow: 0px 0px 5px rgb(148, 147, 147);
}

/* Left menu */

.logo {
  display: flex;
  padding: 20px;
  margin-left: 10px;
  z-index: 2;
}

.logo div {
  padding-left: 10px;
  font-size: 27px;
  z-index: 2;
  font-weight: 600;

}

/* Profile */

.profile {

  height: auto;
  align-items: center;
  justify-content: center;

  display: flex;
  padding-bottom: 20px;
}

.main-pro {
  margin-top: 40px;
}

.pro-image {

  background: linear-gradient(to top, rgb(233, 166, 9), rgb(221, 102, 184), rgb(105, 115, 234));
  ;
  border-radius: 50%;
  padding: 5px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-image {
  width: 75px;
  border-radius: 50%;
}

/* Amount */

.amount {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin-top: -13px;
  border-bottom: 2px solid rgb(198, 196, 196);
  padding-bottom: 30px;
}

/* Title */
.title {
  transform: translate(0px, 0px);
}

.title h4,
p {
  line-height: 0.1;
  text-align: center;

}

.post p {
  line-height: 0.6;
}

.follower p {
  line-height: 0.6;
}

.following p {
  line-height: 0.6;
}

.title p {
  font-size: 13px;
  transform: translate(0px, -5px);
}


/* Navbar */

.navbar {

  padding-top: 10px;
}

/* Icon-Name */

.icon-name {
  display: flex;
  padding: 10px;
  margin-top: 20px;
  color: rgb(84, 83, 83);
  transition: all 0.2s;
}

.icon-name div {
  padding-left: 20px;
}

/* Name-Icon */
.name-icon {
  margin-top: 4px;
}

.log-out {
  border-top: 1px solid rgb(112, 102, 102);
  padding-top: 20px;
}

/* In Icon */

.icon {
  color: rgb(84, 83, 83);
  transition: all 0.1s;
}

a {
  text-decoration: none;
}

.icon-name:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(223, 13, 83);
  transform: translate(0px, -1px);
  cursor: pointer;

}

.icon:hover {
  color: rgb(223, 13, 83);
  cursor: pointer;
}


/* Body */
.body{
  width: 1000px;
}
.body-container {
  width: 80%;
  background-color: #f5f5f5;
  margin: auto;
}

.searchXc-n-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.search2{
  display: flex;
  align-items: center;
  width: 100%;
}
 .searchXc-n-p .search2 input{

  width: 80%;
  padding: 10px;
  border-radius: 35px;
  border:none;
  outline: none;
  background-color: #e0e0e0;
  padding-left: 20px;
}
.searchXc-n-p .icon-search1{
  font-size: 20px;
  transform: translate(-50px,0px);
}

/* Create new post */
.new-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(245, 27, 176);
  border-radius: 25px;
  padding: 5px;
  width: 180px;
  
}

.icon-plus {
  color: white;
  font-size: 20px;
  padding-right: 10px;
  font-weight: 600;
  padding-left: 10px;
}

.new-post p {
  color: white;
  font-weight: 600;
  margin-right: 5px;
}


/* Header-body */
.header-body {
  width: 100%;
  margin: auto;
  background-color: #f5f5f5;
}

.controll-story {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.watch {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .add-story{
  border-radius: 50%;
  background:linear-gradient(to top, rgb(233, 166, 9), rgb(221, 102, 184),rgb(105, 115, 234));;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3;
} */

.story-name{
  font-size: 13px;
}
.add-story1 {
  border-radius: 50%;
  background: linear-gradient(to top, rgb(233, 166, 9), rgb(221, 102, 184), rgb(105, 115, 234));
  ;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.add-story-first {
  background-color: rgb(255, 255, 255);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic-story {
  border-radius: 50%;
  padding: 5px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, rgb(233, 166, 9), rgb(234, 105, 193));
  ;
}

.pic-story img {
  border-radius: 50%;
  border: 3px solid white;
}

.profile-story {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Main Feeds */
.main-feeds {
  background-color: #f5f5f5;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.feed p {
  font-weight: 600;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.latest {
  background-color: #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  border: 1px solid rgb(149, 149, 149);
  color: #6e6d6d;
  margin-right: -460px;
  font-size: 15px;
}

.popular {
  background-color: #f5f5f5;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  border: 1px solid rgb(149, 149, 149);
  color: #0d0c0c;
  font-weight: 600;
  font-size: 15px;
}

/* Feeds */
.Feeds {
  padding-top: 20px;
  background-color: #ffffff;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(182, 180, 180);
}

.Feeds2 {
  width: 95%;
  margin: auto;
}

/* Main pro */
.main2-pro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.icon-option {
  font-size: 20px;
  cursor: pointer;
}

.control-pro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro-pic {
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.pro-pic img {
  border-radius: 50%;
}

.pro-title {
  padding-left: 15px;
}

.pro-title p {
  text-align: left;
  font-weight: 400;
  line-height: 0.1;
}

.full-pic {
  text-align: center;
  padding-top: 15px;
}

.full-pic img {
  border-radius: 15px;
}

/* Component */
.components {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.love {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.love p {
  padding-left: 10px;
  color: rgb(26, 20, 20);
}

.love .icon1 {
  font-size: 25px;
}

a {
  color: black;
}

/* Text below Pictures */
.text {
  width: 95%;
  margin: auto;
}

.text p {
  padding-top: 20px;
  width: 90%;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
}

/* Comment */

.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 95%;
  margin: auto;
}

.comment-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-pic img {
  width: 50px;
  border-radius: 50%;
}


.input-comment1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.input-comment1 input{
  width: 100%;
  border-radius: 20px;
  padding: 9px;
  padding-left: 20px;
  margin-left: 50px;
  border: 0px solid black;
  outline: none;
  background-color: rgb(203, 203, 203);
}


.input-comment1 .icon-comment {
  font-size: 30px;
  transform: translate(-120px,0px);
  padding: 5px;
}

/* Right Menu */
.container-right {
  background-color: #f2f2f2;
  width: 90%;
  margin: auto;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0.4px solid rgb(232, 229, 229);
}

.control-send {
  background-color: #f2f2f2;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(102, 100, 100);
}

.icon-telegram {
  color: rgb(81, 78, 78);
}

.point {
  width: 7px;
  height: 7px;
  background-color: rgb(242, 7, 155);
  border-radius: 50%;
  transform: translate(21px, -24px);
}

.point-green {
  width: 7px;
  height: 7px;
  background-color: rgb(9, 210, 9);
  border-radius: 50%;
  transform: translate(21px, -24px);
}

.icon-menu {
  font-size: 23px;
}

/* Trending Feeds */
.trending-feeds h3 {
  padding-top: 10px;
}

.center-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-top: 20px;
}

.grid-image img {
  width: 106px;
  height: 80px;
  border-radius: 5px;
}

/* Suggestions */
.suggestions {
  padding-top: 20px;
}

.pro-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 5px;
}

.pro-right img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.pro-right .title {
  padding-left: 10px;
}

.pro-right .title p {
  font-size: 15px;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

/* Profile activity */
.pro-activity {
  background-color: #f2f2f2;
  padding-top: 20px;
}

.main-multi-pro {
  background-color: rgb(231, 231, 231);
  transform: translate(0px, 15px);
  padding-top: 25px;
  margin: auto;
  height: auto;
  border-radius: 10px;
}

.center-multi-pro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;

}

.grid-multi-pro {
  display: grid;
  grid-template-columns: repeat(8, 23px);
}

.grid-multi-pro img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.active {
  font-weight: 500;
  transform: translate(0px, -20px);
  font-size: 15px;
  text-align: left;
}

.center-title {
  width: 90%;
  margin: auto;
}

.center-title1 {
  padding-bottom: 55px;
}

.center-title1 p {
  text-align: left;
  line-height: 1.3;
  padding-bottom: 20px;
}

.center-title1 .underline {
  text-decoration: underline;
  color: rgb(255, 0, 76);
}

/* Page log in */

.container-log-in {
  width: 1280px;
}

.center-log-in {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

@media (max-width:1100px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-line .or{
    transform: translate(190px,-10px);
  }
}

.grid img {
  width: 650px;
  padding-top: 30px;
}
@media (max-width:500px) {
  .grid img{
    width: 300px;
   margin: auto;
  }
  .app-store .icon-apple,
.apple-text {
  padding-left: 8px;
  font-weight: 600;
}
.line2 {
  border: 1px solid rgb(101, 97, 97);
  width: 30%;
  text-align: center;
  transform: translate(-100px, -20px);
}
.main-line .or{
  transform: translate(10px,-10px);
}
}
/* Log in */

.main-log-in {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.log-in {
  width: 90%;

  height: 640px;
  z-index: 10;
  border-radius: 10px;
}

.control-log-in {
  width: 70%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  box-shadow: 0px 0px 5px rgb(207, 207, 207);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;

}

.log-in .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in .logo .box {
  width: 30px;
  height: 30px;
  background: linear-gradient(to top, rgb(251, 123, 4), rgb(210, 4, 59), rgb(105, 115, 234));
  border-radius: 50%;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-in .logo .circle {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 1px;

}

.log-in .logo .circle .point1 {
  width: 10px;
  height: 10px;
  background-color: #033586;
  border-radius: 50%;
  padding: 1px;
  transform: translate(25px, -12px);
}

.logo p {
  font-size: 25px;
  padding-left: 10px;
  font-weight: 650;
}

.control-input {
  display: grid;
  row-gap: 2rem;
}

.control-input input {
  padding: 15px;
  padding-left: 10px;
  border-radius: 7px;
  font-size: 11px;
  font-weight: 550;
  outline: none;
  background-color: rgb(249, 235, 235);
  border: 0px;
}

.control-input .login-text {
  padding: 7px;
  border-radius: 7px;
  font-size: 15px;
  outline: none;
  background: linear-gradient(to Right, rgb(251, 123, 4), rgb(210, 69, 4), rgb(65, 73, 167));
  border: 0px;
}

.control-input .login-text p {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif
}

.line {
  border-bottom: 0.3px solid rgb(114, 114, 114);
}

.or {
  width: 30px;
  height: 20px;
  text-align: center;
  background-color: white;
  transform: translate(0px, -14px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.log-in-f {
  border: 2px solid rgb(62, 62, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 10px;
  transform: translate(0px, -20px);

}

.log-in-f .icon-f {
  color: blue;
  font-size: 30px;
}

.log-in-f p {
  font-size: 17px;
}

.log-in-f .icon-f,
.log-in-text-f {
  padding-left: 10px;
}

.forget-p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transform: translate(0px, -20px);
}

.control-line2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line2 {
  border: 1px solid rgb(101, 97, 97);
  width: 30%;
  text-align: center;
  transform: translate(0px, -20px);
}
.or{
  transform: translate(170px,-10px);
}

.no-account {
  color: blue;
  transform: translate(0px, -30px);
}

/* Get the app */

.bothApp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}

.app-store {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 5px 20px;
  border-radius: 10px;
}

.app-store .icon-apple,
.apple-text {
  font-weight: 500;
  line-height: 1;
  padding-right: 10px;
}

.icon-apple {
  font-size: 25px;
}

.get-app {
  padding-top: 15px;
}
/* Logo-Tex */

/* .logo-text {
  visibility: hidden;
} */

.logo-text1 {
  font-size: 9px;
  background-color: cornsilk;
  padding: 5px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  transform: translate(7px, 3px);
  visibility: hidden;
  position: absolute;
  z-index: 11;
}

